<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Calendar App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}" />
</head>
<body>

<nav>
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li ><a th:href="@{/login}">Login</a></li>
        <li ><a th:href="@{/signup}">Sign Up</a></li>
        <li ><a th:href="@{/logout}">Logout</a></li>
    </ul>
</nav>

<div class="container">
    <h1>Calendar</h1>
<!--    <div th:replace="fragments/calendar :: calendar"></div>-->
    <hr />
    <h2>Create Appointment</h2>


    <form action="#" th:action="@{/appointments}" method="post">
        <div class="form-group">
            <label for="name">Title</label>
            <input type="text" class="form-control" id="name" name="name" required />
        </div>
        <div class="form-group">
            <label for="start">Start Time</label>
            <input type="datetime-local" class="form-control" id="start" name="start" required />
        </div>
        <div class="form-group">
            <label for="end">End Time</label>
            <input type="datetime-local" class="form-control" id="end" name="end" required />
        </div>
        <div class="form-group" style="display:None" >
            <input type="text" class="form-control" id="location" name="location" value = "dibner" />
        </div>
        <div class="form-group" style="display:None" >
            <input type="text" class="form-control" id="userId" name="userId"  value = -1 />
        </div>
        <div class="form-group" style="display:None" >
            <input type="text" class="form-control" id="id" name="id"  value = -2 />
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>

<div>
    <h2>Check the booked slots to know about availability</h2>
    <form action="#" th:action="@{/availability}" method="get">
        <div class="form-group">
            <label for="start">Start Time</label>
            <input type="datetime-local" class="form-control" id="start" name="start" required />
        </div>
        <div class="form-group">
            <label for="end">End Time</label>
            <input type="datetime-local" class="form-control" id="end" name="end" required />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>



</body>
</html>
