<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

</body>

<nav>
  <ul>
    <li><a th:href="@{/}">Home</a></li>
    <li ><a th:href="@{/signup}">Sign Up</a></li>
  </ul>
</nav>

<form th:action="@{/login}" method="post">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
</form>

</body>
</html>
