<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!--<p th:text="'Hello, ' + ${name} + '!'" />-->


<div th:replace="calendar"></div>

<table>
  <thead>
  <tr>
    <th>Appointment Name</th>
    <th>Start Time</th>
    <th>End Time</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="appointment : ${appointments}">
    <td th:text="${appointment.name}"></td>
    <td th:text="${appointment.start}"></td>
    <td th:text="${appointment.end}"></td>
  </tr>
  </tbody>
</table>


</body>
</html>